

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
}

/* NAVBAR */
.navbar{
    background:#0e1f36;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:14px;
}

.order-btn{
    background:#76c900;
    padding:8px 14px;
    border-radius:4px;
    color:black !important;
    font-weight:bold;
}

/* HERO */
.hero{
    background:#132c4b;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:25px;
}

.search{
    display:flex;
    justify-content:center;
}

.search input{
    width:350px;
    padding:12px;
    border:none;
}

.search button{
    padding:12px 20px;
    background:#007bff;
    color:white;
    border:none;
}

.hero-tags{
    margin-top:30px;
}

.hero-tags span{
    background:#1d3a5f;
    padding:8px 14px;
    margin:5px;
    display:inline-block;
    border-radius:20px;
    font-size:13px;
}

/* WHITE SECTION */
.white-section{
    background:white;
    padding:80px 60px;
}

.center{
    text-align:center;
    margin-bottom:40px;
}

.image-row{
    display:flex;
    justify-content:center;
    gap:30px;
}

.image-row img{
    width:300px;
    border-radius:10px;
}

/* CARDS */
.cards-section{
    padding:80px 60px;
    display:flex;
    gap:30px;
    justify-content:center;
}

.info-card{
    background:white;
    width:300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.info-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card-text{
    padding:20px;
}

.card-text h3{
    margin-bottom:10px;
}

.card-text a{
    color:#007bff;
    text-decoration:none;
    font-size:14px;
}

/* MARKET */
.market{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:100px 60px;
    background:white;
}

.market-text{
    width:45%;
}

.market-text h2{
    margin-bottom:20px;
}

.market-text button{
    background:#007bff;
    color:white;
    padding:12px 20px;
    border:none;
}

.market-image img{
    width:450px;
    border-radius:10px;
}

/* SIDE BUTTON */
.side-order{
    position:fixed;
    right:0;
    top:40%;
    background:#76c900;
    padding:15px;
    font-weight:bold;
    writing-mode:vertical-rl;
    cursor:pointer;
}

/* FOOTER */
footer{
    background:#0e1f36;
    color:white;
    padding:60px;
    display:flex;
    justify-content:space-between;
}

.footer-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}
